main>ul {
    margin: 0;
    padding: 1em;
    list-style: none;


    position: fixed;
    inset: 0;
    z-index: 100;
    transform: translatex(100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    

    gap: 2em;

    background-color: var(--main-background-color);
    color: var(color-text);
    font-family: var(--font-body-family);
    text-transform: capitalize;
    color: var(--color-text);
    transition: .2s;
}

main > ul li{
    display: flex;
    justify-content: space-between;
}

main ul li:nth-of-type(7){
    display: flex;
    justify-content: end;
}

.filterToggle {
    transform: translateX(0);
}

main > ul li picture img{
    width: 1em;
    height: 1em;
}

main ul li button{
	background: var(--gradient-background);
    font-family: var(--font-body-family);
    font-weight: bolder;
    color: var(--color-text);
	text-decoration: none;
	border-radius: 1em;
	height: 5em;
	width: 17em;
	z-index: 300;
}

main ul li button p{
    font-size: x-large;
    margin: 0;
}

main > ul li label input{
    background-color: var(--main-background-color);
    outline: var(--color-text);
    color: var(--color-text);
}

main>section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main>section button {


    background: none;
    color: inherit;
    border: none;

    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0;
    color: #ddd;
    font-size: medium;
    font-weight: bold;
    font-family: var(--font-body-family);
}

main>section p {
    color: #ddd;
    font-size: medium;
    font-weight: bold;
    font-family: var(--font-body-family);
}

main>section button picture img {
    height: 1em;
    width: 1em;
}

main section:nth-of-type(2){
    padding: 1.7em;
    padding-top: 0;
}

main section ul {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    justify-items: center;
    padding: 0;

    
}

main section ul li {
    flex: 20%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/


}

main section ul li img {
    display: block;
    height: min(43em, 43vw);
    margin: 0;
    background-color: var(--caroCarrouselBackgroundColor);
    border-radius: 4%;
}

main section ul li h3,
main section ul li p {
    text-align: center;
    color: var(--price-tag-color);
    margin: 0;
    font-family: var(--font-body-family);
}