main{
	display: grid;
	gap: 4em;
	padding-bottom: 5em;
}


main section:nth-child(3) h2{
	font-family: var(--font-body-family);
	text-transform: uppercase;
	color: var(--bestseller-h2);
	font-size: xx-large;
	font-weight: bold;
}

main section:nth-of-type(3) button{

	position: relative;
	background: var(--gradient-background);
	height: 5em;
	width: 17em;
	outline: none;
	border-radius: 1em;
	transition: .2s;
	z-index: 300;
	transform-origin: center bottom;

}

main section:nth-of-type(3) button:hover{
	transform: scale(110%);
}

main section:nth-of-type(3) button p{
	color: var(--text-color-white);
	font-family: var(--font-body-family);
	font-weight: bold;
	text-align: center;
	font-size: large;
	margin: 0;
	text-transform: uppercase;
}



  /******************************/
  /* DE CAROCARROUSEL CONTAINER */
  /******************************/
  
  .caroCarrouselBolletjes {
	  /* basis waarden die door de hele carrousel gebruikt worden */
	  /* kun je zelf aanpassen */
	  
  
	position: relative;
	  outline:none;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  
  /* dark mode */
  /* @media (prefers-color-scheme: dark) {
	:root{
		--font-body-family: Poppins, sans-serif;
		background:var(--darkmode-main-background);
	  --caroCarrouselBolletjesShadeColor:rgba(229,229,229,60);
	  --caroCarrouselBackgroundColor:#fff;
	  --caroCarrouselButtonsMainColor:#ffffff;
	  --caroCarrouselButtonsShadeColor:#ffffff;

	  --color-text: #ffffff;
	  --price-tag-color:#ffffff;
	  --gradient-background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	  --main-background-color:#191919;
	  /* --price-tag-color:#C5C5C5; */
	  /* --bestseller-h2:#ffffff; */


	/* }  */
/* 
	body{
		background:var(--darkmode-main-background);
	}

	.caroCarrousel {
	  --caroCarrouselBolletjesMainColor:#fff;
	  --caroCarrouselBolletjesShadeColor:rgba(229,229,229,60);
	}

	.caroCarrouselButtons > ul li > img{

		--caroCarrouselBackgroundColor:#373737;
	}

	.caroCarrouselButtons > ul li > h3{
		--color-text: #ffffff;
	}

	.caroCarrouselButtons > ul li > p{
		--price-tag-color:#ffffff;
	}

	main section:nth-child(3) h2{
		--bestseller-h2:#ffffff;
	}

	main section:nth-of-type(3) button{
		--gradient-background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	}

	header div{
		--main-background-color:#191919;
	}

	header section{
		--gradient-background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	}

	footer ul,
	footer h3,
	footer p{
		--price-tag-color:#C5C5C5;
	}

	footer form input,
	footer form label{
		--main-background-color:#191919;
		--color-text: #ffffff;
	} */

	/* form{
		color: #fff;
	} */


  
  
  /************************************/
  /* de carrousel elementen container */
  .caroCarrouselBolletjes > ul {
	margin: 0; padding: 0;
	list-style: none;
	  display: flex;
	  
	  /* handmatig scrollen is mogelijk */
	  overflow: hidden;
	  
	  /* snappen als er gescrolled wordt - andere helft bij li */
	scroll-snap-type: inline mandatory;
	
	/* smooth scrollen */
	  scroll-behavior: smooth;
	
	/* scrollbar zoveel mogelijk verbergen */
	-webkit-overflow-scrolling: touch; /* voor iOS*/
	-ms-overflow-style: none; /* voor IE */
	  scrollbar-width: none; /* voor firefox */

	  border-radius: 1em;
	  max-width: 90%;
	  align-self: center;
  }
  
  .caroCarrouselBolletjes > ul::-webkit-scrollbar {
	/* scrollbar zoveel mogelijk verbergen */
	display: none; /* voor chrome, safari en edge*/
  }
  
  
  /**************************/
  /* de carrousel elementen */
  .caroCarrouselBolletjes > ul li {
	flex-basis: 100%;
	flex-shrink: 0;
	/* snappen als er gescrolled wordt - andere helft bij ul */
	  scroll-snap-align:center;
  }
  
  
  /**********************************/
  /* de carrousel elementen content */
  
  /* de stijlen voor jouw content hier */
  .caroCarrouselBolletjes > ul li > img {
	display: block;
	width: 100%;
  }
  
  
  /****************/
  /* DE BOLLETJES */
  /****************/
  
  /* de bolletjes container */
  .caroCarrouselBolletjes nav ul {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	bottom: 0;
	margin: 0;
	padding: 0 0 0;
	list-style: none;
	display: flex;
	justify-content: center;
	gap:.3em;
	border-radius: 1em;

	align-items: center;
	border: .2em solid white;
	background-color: var(--caroCarrouselBolletjesShadeColor);
  }
  
  /* een bolletje container */
  .caroCarrouselBolletjes > nav li {
	  flex-basis: 1.2em;
	  aspect-ratio: 1/1;
	  padding: .2em;
	  bottom: .2em;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  
  /* de bolletjes */
  .caroCarrouselBolletjes > nav a {
	display: block;
	width:.6em;
	height:.6em;
	text-decoration: none;
	  color: var(--caroCarrouselBolletjesMainColor);
	  border-radius: 50%;
	outline: white;
	  box-shadow: inset 0 0 0 2px currentColor;
	
	transition: 0.5s;
  }
  
  .caroCarrouselBolletjes > nav a:hover,
  .caroCarrouselBolletjes > nav a:focus {
	color: var(--caroCarrouselBolletjesAccentColor);
  }
  
  .caroCarrouselBolletjes > nav a.current {
	background-color: currentColor;
  }

  







  /* carrousel met buttons */

  .caroCarrouselButtons {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	/* --caroCarrouselButtonsMainColor:#333;
  --caroCarrouselButtonsAccentColor:#1b75b3;
	--caroCarrouselButtonsShadeColor:#ddd9;
	--caroCarrouselBackgroundColor:#F3F3F3; */

  position: relative;
  overflow: hidden; /* om de linkbuttons te verbergen */
	outline:none;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}


/************************************/
/* de carrousel elementen container */
.caroCarrouselButtons > ul {
  margin: 0; padding: 1em;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */

	border-radius: 1em;
	  max-width: 100%;
	  /* background-color: var(--caroCarrouselBackgroundColor); */
	  /* max-height: 90%; */
}

.caroCarrouselButtons > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrouselButtons > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
	
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrouselButtons > ul li > img {
  display: block;
  width: 99%;
  height: min(30em, 100vw);
  object-fit: contain;
  background-color: var(--caroCarrouselBackgroundColor);
  border-radius: 4%;
}

.caroCarrouselButtons > ul li > h3{
	font-family: var(--font-body-family);
	color: var(--color-text);
	text-align: center;
	font-size: x-large;
	margin: 0;
	letter-spacing: .03em;
	text-transform: capitalize;
}

.caroCarrouselButtons > ul li > p{
	font-family: var(--font-body-family);
	color: var(--price-tag-color);
	text-align: center;
	margin: 0;
	font-size: large;
	letter-spacing: .03em;
	font-weight: bold;
}

.caroCarrouselButtons > div > p{
	font-family: var(--font-body-family);
	font-size: small;
	font-weight: bold;
	color: var(--color-text);
}


/****************************/
/* PREV EN NEXT LINKBUTTONS */
/****************************/
.caroCarrouselButtons > div{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	color: var(--color-text);
}

.caroCarrouselButtons > div > a {
	position: relative;

	color: var(--caroCarrouselButtonsMainColor);
	outline: none;
		
	display:grid;
	place-items:center;

	width:2em;
	aspect-ratio:1/1;
	
	transition: 0.5s;
}

/* prev en next linkbuttons pijltjes */
.caroCarrouselButtons > div > a::before,
.caroCarrouselButtons > div > a::after {
  content: "";
  position: absolute;
  width: .4em; height: 2px;
  background-color: currentColor;
}

.caroCarrouselButtons > div > a[href=previous]::before {
	transform-origin: 1px 1px;
	transform: rotate(45deg);
}
.caroCarrouselButtons > div > a[href=previous]::after {
	transform-origin: 1px 1px;
	transform: rotate(-45deg);
}

.caroCarrouselButtons > div > a[href=next]::before {
	transform-origin: calc(100% - 1px) 1px;
	transform: rotate(45deg);
}
.caroCarrouselButtons > div > a[href=next]::after {
	transform-origin: calc(100% - 1px) 1px;
	transform: rotate(-45deg);
}



/* bij hover en focus schuiven de links in beeld */
.caroCarrouselButtons > a[href="previous"]:hover,
.caroCarrouselButtons > a[href="previous"]:focus  {

}
.caroCarrouselButtons > a[href="next"]:hover,
.caroCarrouselButtons > a[href="next"]:focus {

}

.caroCarrouselButtons > div > a:hover,
.caroCarrouselButtons > div > a:focus {
  color: var(--caroCarrouselButtonsAccentColor);
}

