/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

body{
	/* Carrousel code */
	grid-template-columns: minmax(auto, var(--maxWidth));
	  justify-content:center;

	margin: 0;

	background-color: var(--main-background-color);
}

li{
	list-style: none;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* Carrousel code */
	--maxWidth:32rem;
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--font-body-family: Poppins, sans-serif;
	--gradient-background: linear-gradient(90deg, rgba(227,29,132,1) 0%, rgba(252,121,0,1) 100%);
	--text-color-white:#fff;
	--main-background-color:#EEEEEE;
	--price-tag-color:#404040;
}





/****************/
/* KLEIN SCHERM */
/****************/

header{
	height: 10em;
}

header div {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	column-gap: .25em;

	background-color: var(--main-background-color);

	position: relative;
	z-index: 200;
	
}

/* Icons */
header div nav > ul{
	/* als kind */
	justify-self: end;
	right: 1em;

	/* als parent */
	display: flex;
	align-self: center;
	gap: 1.5em;
	
}

header div nav{
	grid-row-start: 2;
}

header div nav > ul > li button{
	background: none;
	color: inherit;
	border: none;

	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header div nav > ul > li button img{
	
	width: 1.2em;
	height: 1.2em;
}

header div nav > ul > li img:hover{
	width: 1.3em;
	height: 1.3em;
	transition: 0.3s;
}



	
/* logo */
header div > a {
	padding-top: .5em;
	grid-row-start: 2;
	grid-column-start: 2;
}

header div > a img {
	width: 3em;
	height: 3em;
}

header div > a img:hover{
	width: 3.1em;
	height: 3.1em;
	transition: 0.3s;
}

/* hamburger */
header div > button {
	grid-column-start: 1;
	grid-row-start: 2;
	justify-self: start;
	padding: 0;
	border: none;
	background: none;
}
header div > button img {
	width: 2em;
	height: 2em;
	margin: 1em;
}

header div > button img:hover{
	width: 2.1em;
	height: 2.1em;
	transition: 0.3s;
}




/*warning text*/
header div section {

	grid-row-start: 1;
	grid-column-end: -1;
	grid-column-start: 1;
}

header div section p{
	text-align: center;
	font-family: var(--font-body-family);
	background: var(--gradient-background);
	color: var(--text-color-white);
	letter-spacing: .1rem;
	font-weight: 600;
	font-size: .75em;
	padding: 1em;
	margin: 0;
	text-transform: uppercase;
}



/* dat dit hier staat is de schuld van Sanne */
header > ul { 
	margin: 0;
	padding:1em;
	list-style:none;

	position: fixed;
	inset: 0;
	z-index: 100;
	transform: translatex(-100%);

	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
  	text-align: center;
  	gap:1em;

  	background-color: aqua;

  	transition: .2s;
}

header > ul li{
	font-family: var(--font-body-family);
	font-weight: bold;
	letter-spacing: .1em;
}

.hamburgerToggle{
	transform: translateX(0);
}


main{
	display: grid;
	gap: 4em;
	padding-bottom: 5em;
}


main section:nth-child(3) h2{
	font-family: var(--font-body-family);
	text-transform: uppercase;
	color: #484848;
	font-size: xx-large;
	font-weight: bold;
}

main section:nth-of-type(3) button{

	background: var(--gradient-background);
	height: 5em;
	width: 17em;
	outline: none;
	border-radius: 1em;

}

main section:nth-of-type(3) button p{
	color: var(--text-color-white);
	font-family: var(--font-body-family);
	font-weight: bold;
	text-align: center;
	font-size: large;
	margin: 0;
	text-transform: uppercase;
}



  /******************************/
  /* DE CAROCARROUSEL CONTAINER */
  /******************************/
  
  .caroCarrouselBolletjes {
	  /* basis waarden die door de hele carrousel gebruikt worden */
	  /* kun je zelf aanpassen */
	  --caroCarrouselBolletjesMainColor:#fff;
	--caroCarrouselBolletjesAccentColor:#1b75b3;
	  --caroCarrouselBolletjesShadeColor:rgba(229,229,229,60);
  
	position: relative;
	  outline:none;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  
  /* dark mode */
  @media (prefers-color-scheme: dark) {
	.caroCarrousel {
	  --caroCarrouselBolletjesMainColor:#fff;
	  --caroCarrouselBolletjesShadeColor:rgba(229,229,229,60);
	}
  }
  
  
  /************************************/
  /* de carrousel elementen container */
  .caroCarrouselBolletjes > ul {
	margin: 0; padding: 0;
	list-style: none;
	  display: flex;
	  
	  /* handmatig scrollen is mogelijk */
	  overflow: hidden;
	  
	  /* snappen als er gescrolled wordt - andere helft bij li */
	scroll-snap-type: inline mandatory;
	
	/* smooth scrollen */
	  scroll-behavior: smooth;
	
	/* scrollbar zoveel mogelijk verbergen */
	-webkit-overflow-scrolling: touch; /* voor iOS*/
	-ms-overflow-style: none; /* voor IE */
	  scrollbar-width: none; /* voor firefox */

	  border-radius: 1em;
	  max-width: 90%;
	  align-self: center;
  }
  
  .caroCarrouselBolletjes > ul::-webkit-scrollbar {
	/* scrollbar zoveel mogelijk verbergen */
	display: none; /* voor chrome, safari en edge*/
  }
  
  
  /**************************/
  /* de carrousel elementen */
  .caroCarrouselBolletjes > ul li {
	flex-basis: 100%;
	flex-shrink: 0;
	/* snappen als er gescrolled wordt - andere helft bij ul */
	  scroll-snap-align:center;
  }
  
  
  /**********************************/
  /* de carrousel elementen content */
  
  /* de stijlen voor jouw content hier */
  .caroCarrouselBolletjes > ul li > img {
	display: block;
	width: 100%;
  }
  
  
  /****************/
  /* DE BOLLETJES */
  /****************/
  
  /* de bolletjes container */
  .caroCarrouselBolletjes nav ul {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	bottom: 0;
	margin: 0;
	padding: 0 0 0;
	list-style: none;
	display: flex;
	justify-content: center;
	gap:.3em;
	border-radius: 1em;

	align-items: center;
	border: .2em solid white;
	background-color: var(--caroCarrouselBolletjesShadeColor);
  }
  
  /* een bolletje container */
  .caroCarrouselBolletjes > nav li {
	  flex-basis: 1.2em;
	  aspect-ratio: 1/1;
	  padding: .2em;
	  bottom: .2em;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  
  /* de bolletjes */
  .caroCarrouselBolletjes > nav a {
	display: block;
	width:.6em;
	height:.6em;
	text-decoration: none;
	  color: var(--caroCarrouselBolletjesMainColor);
	  border-radius: 50%;
	outline: white;
	  box-shadow: inset 0 0 0 2px currentColor;
	
	transition: 0.5s;
  }
  
  .caroCarrouselBolletjes > nav a:hover,
  .caroCarrouselBolletjes > nav a:focus {
	color: var(--caroCarrouselBolletjesAccentColor);
  }
  
  .caroCarrouselBolletjes > nav a.current {
	background-color: currentColor;
  }

  







  /* carrousel met buttons */

  .caroCarrouselButtons {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselButtonsMainColor:#333;
  --caroCarrouselButtonsAccentColor:#1b75b3;
	--caroCarrouselButtonsShadeColor:#ddd9;
	--caroCarrouselBackgroundColor:#F3F3F3;

  position: relative;
  overflow: hidden; /* om de linkbuttons te verbergen */
	outline:none;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrouselButtons {
    --caroCarrouselButtonsMainColor:#000000;
    --caroCarrouselButtonsShadeColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrouselButtons > ul {
  margin: 0; padding: 1em;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */

	border-radius: 1em;
	  max-width: 100%;
	  /* background-color: var(--caroCarrouselBackgroundColor); */
	  /* max-height: 90%; */
}

.caroCarrouselButtons > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrouselButtons > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrouselButtons > ul li > img {
  display: block;
  width: 100%;
  height: min(30em, 100vw);
  object-fit: contain;
  background-color: var(--caroCarrouselBackgroundColor);
}

.caroCarrouselButtons > ul li > h3{
	font-family: var(--font-body-family);
	color: var(--color-text);
	text-align: center;
	font-size: x-large;
	margin: 0;
	letter-spacing: .03em;
	text-transform: capitalize;
}

.caroCarrouselButtons > ul li > p{
	font-family: var(--font-body-family);
	color: var(--price-tag-color);
	text-align: center;
	margin: 0;
	font-size: large;
	letter-spacing: .03em;
	font-weight: bold;
}

.caroCarrouselButtons > div > p{
	font-family: var(--font-body-family);
	font-size: small;
	font-weight: bold;
}


/****************************/
/* PREV EN NEXT LINKBUTTONS */
/****************************/
.caroCarrouselButtons > div{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.caroCarrouselButtons > div > a {
	position: relative;

	color: var(--caroCarrouselButtonsMainColor);
	outline: none;
		
	display:grid;
	place-items:center;

	width:2em;
	aspect-ratio:1/1;
	
	transition: 0.5s;
}

/* prev en next linkbuttons pijltjes */
.caroCarrouselButtons > div > a::before,
.caroCarrouselButtons > div > a::after {
  content: "";
  position: absolute;
  width: .4em; height: 2px;
  background-color: currentColor;
}

.caroCarrouselButtons > div > a[href=previous]::before {
	transform-origin: 1px 1px;
	transform: rotate(45deg);
}
.caroCarrouselButtons > div > a[href=previous]::after {
	transform-origin: 1px 1px;
	transform: rotate(-45deg);
}

.caroCarrouselButtons > div > a[href=next]::before {
	transform-origin: calc(100% - 1px) 1px;
	transform: rotate(45deg);
}
.caroCarrouselButtons > div > a[href=next]::after {
	transform-origin: calc(100% - 1px) 1px;
	transform: rotate(-45deg);
}



/* bij hover en focus schuiven de links in beeld */
.caroCarrouselButtons > a[href="previous"]:hover,
.caroCarrouselButtons > a[href="previous"]:focus  {

}
.caroCarrouselButtons > a[href="next"]:hover,
.caroCarrouselButtons > a[href="next"]:focus {

}

.caroCarrouselButtons > div > a:hover,
.caroCarrouselButtons > div > a:focus {
  color: var(--caroCarrouselButtonsAccentColor);
}

footer{
	/* display: flex;
	flex-wrap:wrap-reverse;
	justify-items: center;
	flex-direction: column;
	justify-content: center; */
	display: grid;
	justify-content: center;
	justify-items: center;
	text-align: center;
}

footer h2{
	font-family: var(--font-body-family);
	color: var(--gradient-background);
	text-align: center;
	margin: 0;
	font-size:2.5em;
	letter-spacing: .03em;
	font-weight: bold;
	letter-spacing: .01em;
	text-transform: uppercase;

	background: var(--gradient-background);
	background-clip: text;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.form {
	width: 80%;
	position: relative;
	height: 60px;
	overflow: hidden;
  }
  
  .form input {
	width: 100%;
	height: 100%;
	color: var(--color-text);
	padding-top: 20px;
	border: none;
	background-color: var(--main-background-color);
  }
  .form label {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	/* height: 100%; */
	pointer-events: none;
	border-bottom: 3px solid var(--color-text);
	font-family: var(--font-body-family);
  }
  .form label::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	transition: all 0.3s ease;
  }
  
  .content-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-bottom: 5px;
	transition: all 0.1s ease;
  }
  .form input:focus {
	outline: none;
  }
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
	transform: translateY(-150%);
	font-size: 14px;
	left: 0px;
	color: currentColor;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
	transform: translateX(0%);
  }


footer h3{
	text-align: center;
	font-family: var(--font-body-family);
	text-transform: uppercase;
	color: var(--price-tag-color);
}

footer ul{
	display: grid;
	gap: 2em;
	justify-content: center;
}

footer > p,
footer ul li{
	font-family: var(--font-body-family);
	color: var(--price-tag-color);
	font-weight: bold;
	letter-spacing: .03em;
}

footer p:nth-last-of-type(2){
	text-transform: uppercase;
	color:var(--color-text);
	font-size: x-large;
	margin-bottom: 0;
}

footer p:nth-of-type(3){
	text-transform: capitalize;
	color:var(--color-text);
	font-size: x-large;
	margin: 0;
}

